
<!-- <mat-toolbar>
  <span class="nav-items">
    <a routerLink="">
      <span>Home</span>
    </a>
  </span>
  <span class="nav-items">
    <a routerLink="login">
      <span>Login</span>
    </a>
  </span>
  <span class="nav-items">
    <a routerLink="signup">
      <span>Sign Up</span>
    </a>
  </span>
</mat-toolbar> -->
<!--
<nav class="navbar navbar-light navbar-expand-lg mb-4">
  <div class="container container--wide">
    <a class="navbar-brand" href="/en/">

        <img width="158" height="25" src="https://d1civoyjepycei.cloudfront.net/static/img/kickresume-logo-black.4a2a4eb3ee16.svg" alt="Kickresume">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse offcanvas-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#get-ebook">Get the book</a></li>
        <li class="nav-item"><a class="nav-link" href="#whats-inside">What's inside</a></li>
        <li class="nav-item"><a class="nav-link" href="#authors">Authors</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-light navbar-expand-lg mb-4">
  <div class="container container--wide">
    <div class="navbar-brand text-dark" >User Login Signup</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse offcanvas-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link fs-4 fw-bold" routerLink="">Home</a></li>
        <li class="nav-item"><a class="nav-link fs-4 fw-bold" routerLink="login">Login</a></li>
        <li class="nav-item"><a class="nav-link fs-4 fw-bold" routerLink="signup">Sign up</a></li>
      </ul>
    </div>

  </div>
  </nav>
